<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.witgoedxpert.technician">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_ALL_FILES_ACCESS_PERMISSION" />
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_baseline_settings_24"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_baseline_settings_24"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">
        <activity
            android:name="com.witgoedxpert.technician.Forms.AddEnquiry"
            android:exported="false" />
        <activity
            android:name="com.witgoedxpert.technician.Forms.Register_A"
            android:exported="false" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.Home.FullMapActivity"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.PRO.CustomCollection"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.MyOrder"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.Home.PRONextRoute"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.Notification_Activity"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Forms.Add_Place"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.PlaceLists"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.PRO.ProPlaceLists"
            android:exported="true" />
        <activity
            android:name="com.witgoedxpert.technician.Activity.VideoPlayerActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity android:name="com.witgoedxpert.technician.Activity.ListOfRoute" />
        <activity android:name="com.witgoedxpert.technician.Activity.PRO.ProListOfRoute" />
        <activity android:name="com.witgoedxpert.technician.Activity.PlaceDetails" />
        <activity android:name="com.witgoedxpert.technician.Activity.Home.MainActivity" />
        <activity android:name="com.witgoedxpert.technician.Activity.Home.ProMainActivity" />
        <activity android:name="com.witgoedxpert.technician.Activity.PRO.ProMapActivity" />
        <activity android:name="com.witgoedxpert.technician.Activity.MapActivity" />
        <activity android:name="com.witgoedxpert.technician.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.witgoedxpert.technician.Forms.LoginActivity" />
        <activity
            android:name="com.witgoedxpert.technician.Location_Services.PlacesSearch.GooglePlaces_A"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <activity android:name="com.witgoedxpert.technician.Activity.MyOrderDetails" />
        <activity android:name="com.witgoedxpert.technician.Activity.PRO.ProFormListActivity" />
        <activity android:name="com.witgoedxpert.technician.Activity.PRO.ProFormActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <service
            android:name="com.witgoedxpert.technician.Location_Services.GetLocation_Service"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location"
            android:stopWithTask="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <service
            android:name="com.witgoedxpert.technician.Location_Services.TrackingService"
            android:foregroundServiceType="location" />
        <service
            android:name="com.witgoedxpert.technician.Helper.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>